.hide-scrollbar {
  /* For Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
